<app-header></app-header>

<div class="component">
  <h1 class="title_products">TIENDA</h1>

  <input type="text" placeholder="Busque un producto">
  <div class="filtrar">
    <select>
      <option value="">Filtrar por categoria</option>
      <option value="Instrumentos">Instrumentos</option>
      <option value="Discos">Discos</option>
      <option value="Indumentaria">Indumentaria</option>
      <option value="Entradas">Entradas</option>
      <option value="Accesorios">Accesorios</option>
    </select>
    <select>
      <option value="ordenar">Ordenar resultados</option>
      <option value="precioDescendente">Precio de mayor a menor</option>
      <option value="precioAscendente">Precio de menor a mayor</option>
    </select>
  </div>
  <div class="add">
    <p class="more">+</p>
    <p class="add_product">agregar producto</p>
  </div>
  <div class="new_product">
    <div class="new">
      <h3>Nuevo producto</h3>
      <input type="text" name="name" placeholder="Nombre" [(ngModel)]="new_product.producto" required>
      <input type="text" name="description" placeholder="Descripcion" [(ngModel)]="new_product.caracteristicas" required>
      <input type="number" name="price" placeholder="Precio" [(ngModel)]="new_product.precio" required>
      <input type="text" name="image" placeholder="Imagen (Insierte el link de la imagen)" [(ngModel)]="new_product.image" required>
      <select name="tipo" id="tipo" [(ngModel)]="new_product.tipo">
        <option selected value="option" [ngValue]="valueDefault">{{valueDefault}}</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
      <input type="submit" value="Agregar" (click)="addProduct()">
    </div>
  </div>
  <div class="all_products" *ngIf="!flagProduct">
    <div class="texts">
      <h3 class="all_text">Todos los productos</h3>
      <h3 class="me_text" (click)="clickProducts()">Ver mis productos</h3>
    </div>
    <div class="products">
      <div *ngFor="let product of listProducts">
        <app-product [product]="product" (click)="clickSection(product.id)"></app-product>
      </div>
    </div>
  </div>
  <div class="me_products" *ngIf="flagProduct">
    <div class="texts">
      <h3 class="all_text">Mis productos</h3>
      <h3 class="me_text" (click)="clickProducts()">Ver todos los productos</h3>
    </div>
    <div class="products">
      <div *ngFor="let product of listMeProducts">
        <app-product [product]="product" (click)="clickSection(product.id)"></app-product>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
