<nav class="navbar navbar-expand-lg navbar-dark bg-dark web">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="goToSection('feed')">MATCH MUSIC</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="goToSection('feed')"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToSection('profile')">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToSection('band')">Mi Banda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToSection('shop')">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="session()">Cerrar Sesion</a>
          </li>
        </ul>
        <app-cart *ngIf="path.includes('shop' || '/shop/product/')"></app-cart>
      </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mobile">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goToSection('feed')">MATCH MUSIC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="goToSection('feed')"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('profile')">Mi Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('band')">Mi Banda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('shop')">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="session()">Cerrar Sesion</a>
        </li>
      </ul>
      <app-cart *ngIf="path.includes('shop' || '/shop/product/')"></app-cart>
    </div>
  </div>
</nav>
