<div class="text-center">
    <form class="col-6" id="form" action="./login.html" method="get">
      <h1 class="login__logo">MATCH MUSIC</h1>
      <p>registro</p>
      <label for="nombre" class="form-label d-block mt-1 login__input">
        <input
          class="form-control required"
          type="text"
          name="nombre"
          placeholder="Nombre:"
          required
          id="nombre"
        />
      </label>
      <label class="form-label d-block mt-1 login__input">
        <input
          class="form-control required"
          type="text"
          name="username"
          placeholder="Username:"
          required
          id="username"
        />
      </label>
      <label class="form-label d-block mt-1 login__input">
        <input
          class="form-control required"
          type="email"
          name="email"
          placeholder="Email:"
          required
          id="email"
        />
      </label>
      <label class="form-label d-block login__input">
        <input
          class="form-control required"
          type="password"
          name="password"
          placeholder="Password:"
          required
          id="password"
        />
      </label>
      <div id="error" class="error"></div>
      <button type="submit" class="login__btn">
        <p class="login__btn-p">registrar</p>
      </button>
    </form>
</div>

  <footer class="footer__nuevo">
    Todos los derechos reservados por Match Music ISPC
  </footer>
