<app-header></app-header>
<div class="nav__feed">
  <div class="nav__feed-profile">
    <img
      class="nav__profile-img"
      alt="Profile photo"
      src="../../../assets/images/perfil-de-usuario.png"
    />
    <section class="nav__profile-info">
      <p class="nav__profile-nombre">{{userConnected.first_name}} {{userConnected.last_name}}</p>
      <p class="nav__profile-tipo">Músico</p>
      <button type="submit" class="nav__profile-btn-seguir">
        + Seguir
      </button>
    </section>
  </div>

  <div class="nav__feed-btns">
    <button type="submit" class="nav__profile-btn-disponible">
      Disponible para tocar &#10004;
    </button>
    <button type="submit" class="nav__profile-btn-disponible">
      Disponible para contratar &#10004;
    </button>
    <button type="submit" class="nav__profile-btn-contact">
      Contactame
    </button>
  </div>
</div>

<main class="feed-perfil">
  <div class="structure_aside">
    <aside class="aside">
      <div class="seccion-izq_perfiles txt-izq_perfiles">
        <h5>{{userConnected.provincia}}, {{userConnected.pais}}</h5>
        <hr />
        <h5>
          Cantante en <em><a href="perfilBanda.html">Rolling Stones</a></em>
        </h5>
        <hr />
        <h5>Intereses:</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint,
          rerum necessitatibus minima assumenda quibusdam magni libero nam
          perspiciatis, vitae illum eius doloribus tempora aspernatur soluta
          expedita repudiandae consequatur, maiores dicta.
        </p>
        <hr />
        <h5>Sobre mí:</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium optio quaerat dolores atque laboriosam ab facere eum
          vero architecto recusandae perferendis, similique eligendi, odit
          doloremque dolorum delectus, necessitatibus voluptatibus cum!
        </p>
      </div>
    </aside>
    <div class="cont__perfil-aside">
      <div class="bandas-videos-canciones">
        <section>
          <h5 class="mis-bandas-t">Mis bandas</h5>
          <div class="mis-bandas">
            <div class="card card-shadow">
              <img
                class="card-img-top"
                src="https://brandemia.org/contenido/subidas/2012/07/the-rolling-stones-logo.webp"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Rolling Stones</h5>
                <a href="./perfilBanda.html" class="btn btn-primary"
                  >Conocenos!</a
                >
              </div>
            </div>
            <div class="card card-shadow">
              <img
                class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk2s5Dq_wB5thr4qAA2RG1CLqJpf4XWAx7Kw&usqp=CAU"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">SuperHeavy</h5>
                <a href="#" class="btn btn-primary">Conocenos!</a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <h5 class="mis-bandas-t">Mis videos</h5>
          <div class="mis-bandas">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/hev2qx1y2IU"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>

            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/wUk_Dqiow0A"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>

            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/qAzqSYQ9X9U"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </section>

        <section>
          <div class="texts">
            <h5 class="mis-bandas-t">Mis productos</h5>
            <div class="add">
              <p class="more">+</p>
              <p class="add_product">agregar producto</p>
            </div>
          </div>
          <div class="mis-bandas">
            <p *ngIf="products.length==0">No hay productos</p>
            <div class="products" *ngFor="let el of products">
              <app-product [product]="el" (click)="clickSection(el.id)"></app-product>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous"
></script>

