.product{
  margin: auto;
  width: 20vw;
  cursor: pointer;
  background-color: rgb(232, 228, 228);
  border-radius: 5px;
  padding:20px;
  font-family: 'Poppins';
}
.product img {
  width: 100%;
  height:240px;
  /*border-bottom: 1px solid rgb(131, 127, 127);*/
  margin-bottom: 10px;
}
.product-info{
  text-align: center;
}
.product .seller {
  margin: 5px 0 10px 0;
}
.product .category{
  margin: 0;
}
.product .name {
  font-size: 20px;
}
.product .price {
  font-size: 19px;
}


